.CreateTopic ul{
    display: flex;
    flex-direction: column;
    list-style-type:none;
}

.CreateTopic li{
    margin: 10px;
    padding:0;
}

.box{
    display: flex;
    flex-direction: column;
}   

